<div class="buffer-bottom">
  <p><%= comment.body %></p>
  <p>
    <span>
      <% if comment.user.present? %>
      <%= render partial: 'users/user', object: comment.user %>
        <% else %>
      <em><strong><%= comment.user_name %></strong></em>
        <% end %>
      <em><%= l comment.created_at, format: :short %></em>
      </span>
    <% if current_user_can_edit?(comment) %>
      <%= link_to(
            (bootstrap_icon 'trash'), event_comment_path(comment.event, comment),
            method: :delete, form: { data: { turbo_confirm: I18n.t('.destroy_confirm') } }
          ) %>
    <% end %>
  </p>
</div>

