<h2><%= t('views.devise.new.forgot_your_password') %></h2>

<%= form_for(resource, as: resource_name, data: { turbo: false }, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>

  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit t('views.devise.new.send_me_instructions'), class: "btn btn-primary" %>
  </div>
<% end %>

<div class="mt-3">
  <%= render "devise/shared/links" %>
</div>
