<h1><%= t('views.events.password_form.title') %></h1>

<%= form_tag(event_path(@event), method: 'post', data: { turbo: false }) do -%>
  <div class="form-group">
    <%= label :pincode, I18n.t('activerecord.attributes.event.pincode') %>
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
  </div>

  <div class="actions">
    <%= submit_tag t('views.events.password_form.submit'), class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to t('views.events.password_form.main_page'), events_path %>
